body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background-image: url("pexels-pixabay-48817.jpg");
  }
  
  h1 {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
  }
  
  .button-group {
    flex: 1 0 33.33%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .buttons h2 {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .pantry-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .pantry-btn:hover {
    background-color: #e0e0e0;
  }
  
  .shopping-list {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .shopping-list h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  .shopping-list ul {
    padding: 0;
    list-style-type: none;
  }
  
  .shopping-list li {
    margin-bottom: 5px;
  }
  